::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    background: #024439b5;
    height: 0 !important;
}

.css-vyflhh {
    border: none !important;
}

.form-control:focus-visible {
    outline: none;
    box-shadow: none;
}

#chat-app-layout {
    /* background-image: url("https://kotha.app/img/hdpi/bg.png"); */
    background-color: #f5f5f5 !important;
    width: 100%;
    position: relative;
}


.btn {
    border: none !important;
    outline: none !important;
}

.message-side-pill {
    position: relative;
    border-bottom-left-radius: 0 !important;
}

.message-side-pill::before {
    content: "";
    height: 15px;
    width: 10px;
    position: absolute;
    background: #fff;
    left: -11px;
    bottom: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


.cursor-pointer {
    cursor: pointer;
}

#chat_bar p {
    font-size: 14px;
}

.text-sm {
    font-size: 13px !important;
}

.bg-secondary {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.hover_background:hover {
    transition: .1s;
    --bs-bg-opacity: 0.3;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.active-user {
    position: relative;
}

.active-user::after {
    content: "";
    padding: 5px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #3cb29d;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.bg_gray {
    background: #e3e3e5 !important;
}

.text_gray {
    color: #c4c4c7 !important;
}

.scrollbar_visible_x {
    scroll-behavior: smooth;
}

.scrollbar_visible_y {
    scroll-behavior: smooth;
}

.scrollbar_visible_x::-webkit-scrollbar {
    display: block !important;
    height: 6px !important;
    width: 7px !important;
}

.scrollbar_visible_y::-webkit-scrollbar {
    display: block !important;
    height: 0px !important;
    width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e3e3e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.action_tooltip_icon {
    color: #555;
    font-weight: 500;
}

.action_tooltip_top .tooltip-inner {
    padding: 7px;
    background-color: #212529;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.action_tooltip_top .tooltip-arrow::before {
    border-top-color: #212529;
}

.inner_action_tooltip .tooltip-inner {
    padding: 2px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .35) 0 4px 15px;
}

.inner_action_tooltip_more .tooltip-inner {
    width: 106px;
}

.inner_action_tooltip .tooltip-arrow::before {
    border-top-color: #fff;
}

.inner_action_tooltip .button {
    cursor: pointer;
    margin: 0 4px;
    padding: 8px 12px;
    font-size: 15px;
    color: #000;
    text-align: start !important;
    border-radius: 5px;
}

.inner_action_tooltip_emoji .tooltip-inner {
    max-width: fit-content;
    border-radius: 24px;
}

.inner_action_tooltip .button:hover {
    background-color: #c6c6c6;
    transition: .3s;
}

.message_content .message_actions {
    opacity: 0;
}

.message_content:hover .message_actions {
    opacity: 1;
}

.inner_action_tooltip_emoji_picker .tooltip-inner {
    background-color: none !important;
    padding: 0;
}
.inner_action_tooltip_emoji_picker .tooltip-arrow::before {
    border-top-color: #fff;
}