:root {
    --voice-dynamic-width: blue;
}

::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    background: #024439b5;
    height: 0 !important;
}

.css-vyflhh {
    border: none !important;
}

.form-control:focus-visible {
    outline: none;
    box-shadow: none;
}

#chat-app-layout {
    /* background-image: url("https://kotha.app/img/hdpi/bg.png"); */
    background-color: #f5f5f5 !important;
    width: 100%;
    position: relative;
}


.btn {
    border: none !important;
    outline: none !important;
}

.message-side-pill {
    position: relative;
    border-bottom-left-radius: 0 !important;
}

.message-side-pill::before {
    content: "";
    height: 15px;
    width: 10px;
    position: absolute;
    background: #fff;
    left: -11px;
    bottom: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


.cursor-pointer {
    cursor: pointer !important;
}

#chat_bar p {
    font-size: 14px;
}

.text-sm {
    font-size: 13px !important;
}

.bg-secondary {
    --bs-bg-opacity: 0.2;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.hover_background:hover {
    transition: .1s;
    --bs-bg-opacity: 0.3;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.active-user {
    position: relative;
}

.active-user::after {
    content: "";
    padding: 5px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #3cb29d;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.bg_gray {
    background: #e3e3e5 !important;
}

.text_gray {
    color: #c4c4c7 !important;
}

.scrollbar_visible_x {
    scroll-behavior: smooth;
}

.scrollbar_visible_y {
    scroll-behavior: smooth;
}

.scrollbar_visible_x::-webkit-scrollbar {
    display: block !important;
    height: 6px !important;
    width: 7px !important;
}

.scrollbar_visible_y::-webkit-scrollbar {
    display: block !important;
    height: 0px !important;
    width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e3e3e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.action_tooltip_icon {
    color: #555;
    font-weight: 500;
}

.action_tooltip_top .tooltip-inner {
    padding: 7px;
    background-color: #212529;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.action_tooltip_top .tooltip-arrow::before {
    border-top-color: #212529;
}

.inner_action_tooltip .tooltip-inner {
    padding: 2px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .35) 0 4px 15px;
}

.inner_action_tooltip_more .tooltip-inner {
    width: 106px;
}

.inner_action_tooltip .tooltip-arrow::before {
    border-top-color: #fff;
}

.inner_action_tooltip .button {
    cursor: pointer;
    margin: 0 4px;
    padding: 8px 12px;
    font-size: 15px;
    color: #000;
    text-align: start !important;
    border-radius: 5px;
}

.inner_action_tooltip_emoji .tooltip-inner {
    max-width: fit-content;
    border-radius: 24px;
}

.inner_action_tooltip .button:hover {
    background-color: #c6c6c6;
    transition: .3s;
}

.message_content .message_actions {
    opacity: 0;
}

.message_content:hover .message_actions {
    opacity: 1;
}

.inner_action_tooltip_emoji_picker .tooltip-inner {
    background-color: #fff !important;
    padding: 0;
}

.inner_action_tooltip_sticker {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 12px;
    margin-bottom: 10px !important;
    border-radius: 10px;
}

.inner_action_tooltip_sticker .tooltip-inner {
    background-color: #fff !important;
    padding: 0;
    color: #000;
}

.inner_action_tooltip_emoji_picker .tooltip-arrow::before {
    border-top-color: #fff;
}

.inner_action_tooltip_sticker .tooltip-arrow::before {
    border-top-color: #fff;
}

.inner_tooltip_sticker {
    padding: 12px;
}

#chat_bar .active {
    color: #3cb29d !important;
}

.current_user_active {
    background-color: #e8e2e2;
}

.image-content .modal-dialog {
    max-width: 100% !important;
    margin: 0 !important;
    height: 100% !important;
    overflow: hidden;
}

.image-gallery {
    height: 100%;
}

.image-content .modal-content {
    height: 100% !important;
    border-radius: 0 !important;
}

.image-content.style {
    height: 100%;
}

.image-content .image-gallery-content {
    height: 100% !important;
    /* overflow: hidden;  */
}

.image-content .image-gallery-thumbnails-wrapper {
    height: 100% !important;
}

.image-content .image-gallery-image {
    width: auto !important;
}

.image-content .image-gallery-slide-wrapper {
    height: 75%;
}

.image-content .image-gallery-swipe {
    height: 100% !important;
}

.image-content .image-gallery-slides {
    height: 100% !important;
}

.image-content .image-gallery-center {
    height: 100% !important;
}

.image-content .image-gallery-center img {
    height: 100% !important;
}

.image-content .image-gallery-icon {
    color: #3cb29d !important;
    height: 60px;
    width: 60px;
    background-color: rgb(214, 213, 213);
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 !important;
}

.image-content .image-gallery-svg {
    height: 60px !important;
    filter: none !important;
}

.image-content .image-gallery-thumbnail.active {
    border-color: #3cb29d !important;
}

.image-content .cancel-btn {
    cursor: pointer;
    font-weight: 500;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px ridge;
    color: #3cb29d;
    transition: all 0.25s ease;
    font-size: large;
    background: rgb(214, 213, 213);
}

.image-content .cancel-btn:hover {
    box-shadow: none;
    transform: none;
    background: rgb(196, 194, 194);
    background: #fcfcfc;
}

.image-content .image-gallery-thumbnail {
    border-radius: 12px;
    overflow: hidden;
}

.image-content .image-gallery-thumbnail img {
    max-height: 60px !important;
}

.send-voice-clip-btn {
    transition: .4s;
}

.send-voice-clip-btn:hover {
    background-color: #f3f3f3;
}

.brand-color {
    color: #3cb29d !important;
}

.brand-bg {
    background-color: #3cb29d !important;
}

.voice-form .audio-recorder-mic {
    display: none;
}

.voice-form .recording {
    border-radius: 0px !important;
    width: 100% !important;
}

.voice-form .audio-recorder {
    background-color: rgba(0, 0, 0, 0.0) !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.voice-form .audio-recorder-options {
    display: none;
}

.voice-form .audio-recorder-status {
    display: none !important;
}

.recorder-controller-pause-resume {
    height: 22px;
    width: 22px;
    background: #fff;
    border-radius: 50%;
    color: #3cb29d;
}

.recorder-timer {
    height: 22px;
    background: #fff;
}

.audio-recorder-timer {
    margin: 0 !important;
}

.recorder-wave {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(196, 196, 196, 0.541);
    /* z-index: 3; */
}

.voice-recorder-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.side-action-form {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side-action-form:hover {
    background-color: #e3e3e5;
}

.side-action-form .inner-btn {
    font-size: 16px !important;
}

.inner_action_tooltip_sticker {
    width: 300px !important;
    max-height: 330px;
    max-height: 400px;
    overflow-y: scroll;
}

.inner_action_tooltip_sticker .tooltip-inner {
    max-width: 100% !important;
}

.inner_action_tooltip_sticker .sticker-scroll-btn-top {
    height: 20px;
    width: 20px;
    background-color: #3cb29d;
    color: #fff !important;
}

.inner_action_tooltip_sticker .category-active {
    background: #3cb29d !important;
    color: #fff !important;
    transition: .3s;
    border-radius: 0px 15px 0px 15px !important;
}

.active-users {
    cursor: grab;
}

.active-users-wrapper {
    max-width: 85px;
    cursor: pointer;
    margin: 0 2px;
}

.active-users-wrapper p {
    font-size: 14px !important;
    text-align: center;
    font-weight: 500;
}

.reaction-modal {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.reaction-modal .modal-dialog {
    margin: 0px;
    width: 100%;
}

.reaction {
    position: relative;
}

.reaction-wrapper {
    position: absolute;
    background: #fff;
    height: 22px;
    width: 22px;
    border: 1px ridge;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -8px;
    left: 10%;
}

.fs-7 {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.fs-8 {
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.message-container-bg {
    background-color: #f5f5f5;
    position: relative;
}

.messages-overlay-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-overlay-loading .loading {
    height: 150px;
    width: 150px;
}

.messages-overlay-loading .loading.spinner-border {
    border-color: #3cb29d;
    border-right-color: transparent;
}

.scrollbar-controller {
    bottom: 30px;
    right: 13px;
    height: 42px;
    width: 42px;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 50%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    box-shadow: 0 1px 1px 0 rgba(11, 20, 26, .06), 0 2px 5px 0 rgba(11, 20, 26, .2);
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.unseen-last-message p{
    font-weight: 600 !important;
    word-wrap: break-word;
}